<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1">
        </div>
        <div class="col-md-8 col-sm-10">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="padding-top"><strong>Patrick William Weaver.</strong></h3>
                </div>
                <div class="col-md-4">
                    <img class="pic" src="../../../assets/img/me.jpg" width="200px" height="200px" style="border-radius: 100px;
                         border: 3px solid lightskyblue;">
                </div>
            </div>
            <br>
            <div>
                <div *ngFor="let c of $content | async">
                    <p>
                        {{ c.content }}
                        <br>
                    </p>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p>
                        <a href="https://github.com/pattyweave">
                            @pattyweave
                        </a>
                        &nbsp; | &nbsp;
                        <a routerLink="/more">
                            More
                        </a>
                    </p>
                    <p class="copyright">All content &copy; Patrick Weaver 2020 unless otherwise stated.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>





<!--    PISS BOIS LAYOUT    -->
<!-- <div class="bg">

    <h1 class="neon pad" data-text="U">PA<span class="flicker-slow">T</span>R<span class="flicker-fast">I</span>CK</h1>

    <h1 class="neon" data-text="U">WIL<span class="flicker-slow">L</span><span class="flicker-fast">I</span>AM</h1>

    <h1 class="neon" data-text="U">WEAVER</h1>

</div> -->