.bg {
    background: #383838;
    height: 100vh;
}

.pad {
    padding-top: 50px;
}

.pic {
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .pic {
        margin-top: 20px;
    }
}

.neon {
    font-family: "Monoton", cursive;
    font-size: 130px;
    color: #f0fa2a;
    text-align: center;
    position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #f7f565, 2px 0px 4px #f7f565, 3px 0px 4px #f7f565, 2px 0px 3px #f7f565,
        2px 3px 15px #d43511, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #d43511, 40px 0vw 200px #d43511;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        //text-shadow: none;
        opacity: 0.99;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}


