<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1">
        </div>
        <div class="col-md-8 col-sm-10">
            <h3 class="padding-top"><span class="route" routerLink="/">Patrick William Weaver /</span> <strong>
                    More</strong></h3>
            <h4 class="padding-top">Completed Projects</h4>
            <br>
            <ul class="fa-ul">
                <li *ngFor="let c of $completed | async"><span class="fa-li">
                        <fa-icon [icon]="bullet(c.icon)">
                        </fa-icon>
                    </span>{{ c.description }}
                    <br>
                    <br>
                    Check out <a href="{{ c.link }}" target="blank">{{ c.name }}</a>.
                    <br>
                    <br>
                </li>
                <br>

            </ul>


            <h4>What I'm currently working on...</h4>
            <br>
            <ul class="fa-ul">
                <li *ngFor="let c of $current | async"><span class="fa-li">
                        <fa-icon [icon]="bullet(c.icon)"></fa-icon>
                    </span>{{ c.description }}
                    <br>
                    <br>
                    <!-- Check out <a href="https://porcelainpursuit.com" target="blank">Porcelain Pursuit</a>. -->
                </li>
                <br>
                <br>
            </ul>
            <div class="row" *ngIf="word | async as w">
                <div class="col">
                    <h4>Word of the Day</h4>
                    <br>
                    <ul class="fa-ul">
                        <li><span class="fa-li">
                                <fa-icon [icon]="faBook">
                                </fa-icon>
                            </span>
                            <h5>{{ w.word | titlecase }}</h5>
                            <p>{{ w.definitions[0].partOfSpeech | titlecase }}</p>
                            <p>{{ w.definitions[0].text }}</p>
                            <br>
                        </li>
                        <br>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <a href="https://github.com/pattyweave">
                            @pattyweave
                        </a>
                        &nbsp; | &nbsp;
                        <a routerLink="/">
                            Home
                        </a>
                    </p>
                    <p class="copyright">All content &copy; Patrick Weaver 2020 unless otherwise stated.</p>
                </div>
            </div>
        </div>
    </div>
</div>